<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/user/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.CreateUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateUserServlet</servlet-name>
    <url-pattern>/user/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/user/logout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>BannedUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.BannedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BannedUserServlet</servlet-name>
    <url-pattern>/admin/banned</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UnbannedUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.UnbannedUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UnbannedUserServlet</servlet-name>
    <url-pattern>/admin/unbanned</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGameServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.AddGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameServlet</servlet-name>
    <url-pattern>/game/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SearchGameServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.SearchGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGameServlet</servlet-name>
    <url-pattern>/game/search</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AddGameUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.AddGameUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddGameUserServlet</servlet-name>
    <url-pattern>/gameUser/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RemoveGameUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.RemoveGameUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveGameUserServlet</servlet-name>
    <url-pattern>/gameUser/remove</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateExchangeServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.CreateExchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateExchangeServlet</servlet-name>
    <url-pattern>/exchange/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmExchangeServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ConfirmExchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmExchangeServlet</servlet-name>
    <url-pattern>/exchange/confirm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RefuseExchangeServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.RefuseExchangeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefuseExchangeServlet</servlet-name>
    <url-pattern>/exchange/refuse</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmReturnSenderServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ConfirmReturnSenderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReturnSenderServlet</servlet-name>
    <url-pattern>/exchange/confirmReturnSender</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmReturnReceiverServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ConfirmReturnReceiverServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReturnReceiverServlet</servlet-name>
    <url-pattern>/exchange/confirmReturnReceiver</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMessageServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.SendMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMessageServlet</servlet-name>
    <url-pattern>/user/message/send</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListMessagesServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListMessagesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListMessagesServlet</servlet-name>
    <url-pattern>/user/message/list</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>listConversationsServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.listConversationsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listConversationsServlet</servlet-name>
    <url-pattern>/user/message/conversations</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>NotifierServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.NotifierServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NotifierServlet</servlet-name>
    <url-pattern>/user/notifications</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>FacebookTest</servlet-name>
    <servlet-class>com.dar.services.subservices.facebook.TEST.FacebookTest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FacebookTest</servlet-name>
    <url-pattern>/facebookLog</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CallBackRedirect</servlet-name>
    <servlet-class>com.dar.services.subservices.facebook.servlet.CallBackRedirect</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CallBackRedirect</servlet-name>
    <url-pattern>/testFacebook/userProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ConfirmSubscriptionServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ConfirmSubscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmSubscriptionServlet</servlet-name>
    <url-pattern>/user/confirmCode</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateAdminServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.CreateAdminServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAdminServlet</servlet-name>
    <url-pattern>/admin/create</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RecoverPasswordServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.RecoverPasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverPasswordServlet</servlet-name>
    <url-pattern>/user/recoverPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUsersServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersServlet</servlet-name>
    <url-pattern>/admin/listUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListGamesServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListGamesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGamesServlet</servlet-name>
    <url-pattern>/admin/listGames</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListGamesPocessServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListGamesPocessServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGamesPocessServlet</servlet-name>
    <url-pattern>/gameUser/listGamesPocess</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListGamesLikeServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListGamesLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGamesLikeServlet</servlet-name>
    <url-pattern>/gameUser/listGamesLike</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AutoCompleteSearchGameServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.AutoCompleteSearchGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AutoCompleteSearchGameServlet</servlet-name>
    <url-pattern>/game/autoCompleteSearch</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CORSFilter</filter-name>
    <filter-class>com.dar.services.servlets.filters.CorsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CORSFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>GoogleMapsAutocompleteServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.GoogleMapsAutocompleteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleMapsAutocompleteServlet</servlet-name>
    <url-pattern>/service/googlemapAutocomplete</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GoogleMapsDistanceServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.GoogleMapsDistanceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GoogleMapsDistanceServlet</servlet-name>
    <url-pattern>/service/googlemapDistanceDuration</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateUserInformations</servlet-name>
    <servlet-class>com.dar.services.servlets.UpdateUserInformations</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateUserInformations</servlet-name>
    <url-pattern>/user/update</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListUsersGameServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListUsersGameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListUsersGameServlet</servlet-name>
    <url-pattern>/user/listUsersGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetPlatformsListServlets</servlet-name>
    <servlet-class>com.dar.services.servlets.GetPlatformsListServlets</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPlatformsListServlets</servlet-name>
    <url-pattern>/user/platformsGame</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListAdminsServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListAdminsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListAdminsServlet</servlet-name>
    <url-pattern>/admin/listAmins</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ListBannedUsersServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListBannedUsersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListBannedUsersServlet</servlet-name>
    <url-pattern>/admin/listBannedUsers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StatitisticsExchangesServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.StatitisticsExchangesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StatitisticsExchangesServlet</servlet-name>
    <url-pattern>/admin/statsExchanges</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>CheckOldPassword</servlet-name>
    <servlet-class>com.dar.services.servlets.StatitisticsExchangesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOldPassword</servlet-name>
    <url-pattern>/user/checkOldPass</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>ListGamesPocessLikeServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.ListGamesPocessLikeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ListGamesPocessLikeServlet</servlet-name>
    <url-pattern>/admin/gamesPocessLike</url-pattern>
  </servlet-mapping>
  
    <servlet>
    <servlet-name>SearchGameUserServlet</servlet-name>
    <servlet-class>com.dar.services.servlets.SearchGameUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchGameUserServlet</servlet-name>
    <url-pattern>/exchange/search</url-pattern>
  </servlet-mapping>
  
  	<servlet>
		<servlet-name>UploadImageServlet</servlet-name>
		<servlet-class>com.dar.services.servlets.UploadImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadImageServlet</servlet-name>
		<url-pattern>/UploadImageServlet</url-pattern>
	</servlet-mapping>

</web-app>